/* Center all text and use Helvetica Neue font */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

/* Make headings bold */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 40px;
}

p {
    max-width: 80%;
}

/* Center images and videos */
img, video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
